.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border: 2px solid #131B29;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.image-grid img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}